*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* .loading-bar
/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    overflow: hidden;
    color: #ffffff00;
    text-shadow: 0 0 0 #ffffff,10ch 0 0 #ffffff;
    background: linear-gradient(#ffffff 0 0) bottom left/0% 3px no-repeat;
    animation: animateBar 3s infinite;
  }
  .loader:before {
    content: "Loading...";
  }

  @keyframes animateBar {
      80%  {text-shadow:    0  0 0 #ffffff,10ch 0 0 #ffffff;background-size:100% 3px}
      100% {text-shadow: -10ch 0 0 #ffffff,0    0 0 #ffffff}
  }
  
.loading-counter
{
    position: absolute;
    left: 20%;
    top: 80%;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(2);
    transition: tranform 1s;
    will-change: transform;
    font-size: 18px;
}




/* burger icon */
.burger_icon
{
    position: absolute;
    top: 10%;
    left: 93%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    z-index: 1000;
    cursor: pointer;
}

.first_bar, .second_bar, .third_bar
{
    width: 50px;
    height: 3px;
    background-color: black;
    margin: 10px 0;
    border-radius: 2px;
    transition: 0.4s;
}

.burger_icon:hover .second_bar
{
    width: 30px;
}

.burger_icon:hover .third_bar
{
    width: 20px;
}

.burger_icon.active:hover .third_bar 
{
    width: 50px;
}





.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    color: rgb(160, 160, 160);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    z-index: 1000;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s; 
}
.menu > div {
    flex: 0 0 auto;
}

.menu.active {
    visibility: visible;
    opacity: 1;
}


.Work a, .About_me a, .Contact a
{
    text-decoration: none;
    letter-spacing: 0.1em;
    color: rgb(160, 160, 160);
    transition: 0.4s ease-in-out;
    font-family: 'inter', sans-serif;

}

.Work, .About_me, .Contact
{
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.Work:hover, .About_me:hover, .Contact:hover
{
    font-size: 2.5rem;
}

.Work:hover a, .About_me:hover a, .Contact:hover a
{
    color: rgb(255, 255, 255);
}